parameters:
	ignoreErrors:
		- '#Call to an undefined method React\\Promise\\PromiseInterface::always\(\).#'
	ergebnis:
		classesAllowedToBeExtended:
			- Exception
			- ReactParallel\Tests\AbstractPoolTest

includes:
	- vendor/wyrihaximus/async-test-utilities/rules.neon