parameters:
	checkMissingIterableValueType: false
	ignoreErrors:
	    - '#Call to an undefined method React\\Promise\\PromiseInterface::always\(\).#'
	ergebnis:
		classesAllowedToBeExtended:
			- ReactParallel\Tests\AbstractPoolTest
includes:
	- ../../vendor/wyrihaximus/async-test-utilities/rules.neon