parameters:
	level: max
	ignoreErrors:
		-
			message: '#Method ReactParallel\\Pool\\Infinite\\Infinite::run\(\) should return T\|null but returns T\|void\|null.#'
			path: ../../src/Infinite.php
		-
			message: '#sleep blocks the event loop#'
			path: ../../tests/InfiniteTest.php
		-
			message: '#sleep blocks the event loop#'
			path: ../../tests/Types.php
		-
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- ReactParallel\EventLoop\CancelledException
				- ReactParallel\EventLoop\CanceledFuture
				- ReactParallel\EventLoop\KilledRuntime
				- ReactParallel\Tests\AbstractPoolTest
