parameters:
	checkMissingIterableValueType: false
	ignoreErrors:
	    - '#Call to an undefined method React\\Promise\\PromiseInterface::always\(\).#'
	    - '#Only numeric types are allowed in -, float\|int\|null given on the right side.#'
	ergebnis:
		classesAllowedToBeExtended:
			- ReactParallel\Tests\AbstractPoolTest
includes:
	- ../../vendor/wyrihaximus/async-test-utilities/rules.neon